{% extends "base.html" %}
{%  load static %}

{% block menu %}
{% for c in characters %}
<div class="menu_item action" action="toggle" param="{{c.rid}}">{{ c.name|safe }}</div>
{% endfor %}
{% endblock menu %}

{% block details %}
{% for c in characters %}
{{ c.roster|safe }}
{% endfor %}
{% endblock details %}


{% block custom_js %}
<script>
    _.defer(function () {
        let co = new PathfinderWorkshop()
        co.perform();
        co.revealUI();
    });
</script>
{% endblock custom_js %}