$base_background: #F0F0F0;
$base_color: #101010;

$base_font: Roboto;
$roster_font: Ubuntu;
$txt_font: Neuton;

body {
  font-family: $base_font;
  font-size: 10pt;
  background: $base_background;
  color: $base_color;

  & .main {
    background: transparent url("/static/collector/paper.png") repeat;

    & .roster {

      display: inline-block;
      font-family: $roster_font;
      font-size: 11pt;
      padding: 5px;
      background: white;
      color: black;
      border-radius: 5px;
      box-shadow: 2px 2px 5px black;
      line-height: 1.45em;
      & b{
        font-weight: 800;
        color:maroon;
      }

      & .name {
        background: black;
        color: white;
        width: calc(100% - 10px);
        padding: 5px;
        font-weight: bold;
        display: flex;
        flex-flow: row nowrap;
        justify-items: stretch;
        align-content: stretch;
        align-items: stretch;
        border-radius: 5px 3px;
        font-variant: small-caps;

        & .lefty {
          order: 1;
          flex-grow: 2;
          width: calc(100% - 50px);
          //background:red;
          font-weight: 900;
        }

        & .righty {
          order: 2;
          flex-grow: 0;
          width: 50px;
          text-align: right;
          //background:green;
          font-weight: 900;
        }
      }

      & .block {
        background: transparent;
        color: black;
        border: 1px solid transparent;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: calc(100% - 2px);
        padding: 1px;
        margin-top: 2px;
        font-weight: bold;
        font-variant: small-caps;
      }

      & .text{
        font-family: $txt_font;
        font-size:14pt;
      }

    }
  }
}