$base_background: #F0F0F0;
$base_color: #101010;

$base_font: Roboto;
$roster_font: Raleway;
$txt_font: Neuton;

body {
  font-family: $base_font;
  font-size: 10pt;

  color: $base_color;
  background: transparent url("/static/collector/paper.png") repeat;

  & .main {

    & .menuzone{
        background: transparent;
        & .menu_item {
          color: #E0E0E0;
          background: black;
          font-variant: small-caps;
          text-align:left;
        }
    }

    & .roster {

      display: inline-block;
      font-family: $roster_font;
      font-weight: 500;
      font-size: 11pt;
      padding: 5px;
      background: lightgoldenrodyellow;
      color: black;
      border-radius: 5px;
      box-shadow: 2px 2px 5px black;
      line-height: 1.45em;

      & b {
        font-family: $roster_font;
        font-weight: 800;
      }

      & .name {
        background: black;
        border-bottom: 5px solid black;
        &.player{
          border-color:rebeccapurple;
        }
        &.dm_npc{
          border-color:darkslategrey;
        }
        color: white;
        width: calc(100% - 10px);
        padding: 5px;
        font-weight: bold;
        display: flex;
        flex-flow: row nowrap;
        justify-items: stretch;
        align-content: stretch;
        align-items: stretch;
        border-radius: 7px 7px 1px 1px;
        font-variant: small-caps;

        & .lefty {
          order: 1;
          flex-grow: 2;
          width: calc(100% - 50px);
          font-weight: 900;
        }

        & .righty {
          order: 2;
          flex-grow: 0;
          width: 50px;
          text-align: right;
          font-weight: 900;
        }
      }

      & .block {
        background: transparent;
        color: black;
        border: 1px solid transparent;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: calc(100% - 2px);
        padding: 1px;
        margin-top: 2px;
        font-weight: bold;
        font-variant: small-caps;
      }

      & .text {
        font-family: $txt_font;
        font-size: 14pt;
      }
    }
  }
}